:root {
    --bg-color: rgb(1, 22, 40);
    --font-color: rgb(255, 255, 255);
    --second-color: rgb(34, 42, 104);
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}
.container-header{
    display: flex;
    width: 80%;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
}

.container-header nav {
    display: flex;
    width: 80%;
    height: 90px;
}

.container-header nav a {
    display: flex;
    text-decoration: none;
    color: var(--font-color);
    background-color: var(--second-color);
    width: 100%;
    margin: 8px;
    margin-top: 20px;
    border-radius: 8px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.container-menu {
    display: flex;
    margin: 20px auto;
    flex-flow: row wrap;
    width: 65%
}

.content {
    width: 80%;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.content h1 {
    font-size: 50px;
    margin: 10px;
}

.content h2 {
    font-size: 30px;
}

.content h3 {
    margin: 15px;
    font-size: 20px;
    text-align: center;
}

.content p {
    margin: 15px;
    font-size: 23px;
    text-align: justify;
}
.content-ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    list-style: none;
}

.content-ul li {
    font-size: 18px;
    margin: 10px;
}

.container-photo {
    display: flex;
    width: 60%;
    margin: auto;
    flex-flow: row wrap;
}

.photo {
    border-radius: 30px;
    max-width: 100%;
}

.content-recommend {
    padding-top: 20px;
    margin: auto;
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.content-recommend h2 {
    text-align: justify;
    font-size: 20px; 
}

.content-recommend li {
    display: flex;
}

.content-recommend a {
    color: white;
    text-decoration: none;
    padding: 20px 30px;
    margin-top: 20px;
    background-color: var(--second-color);
    border-radius: 30px;
}

.container-kim {
    width: 65%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.container-kim div {
    margin: 30px;
}

.photo-kim {
    padding: 20px;
    border-radius: 40%;
    max-width: 300px;
    max-height: 300px;
    margin: auto;
}

.content-footer {
    display: flex;
    width: 65%;
    margin: auto;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: var(--second-color);
}
.content-footer a{
    padding: 10px 10px;
}